[submodule "modules/rlImGui-cs"]
	path = modules/rlImGui-cs
	url = https://github.com/b-effort/rlImGui-cs.git
[submodule "modules/SharpFFTW"]
	path = modules/SharpFFTW
	url = https://github.com/wo80/SharpFFTW.git
[submodule "modules/cimgui"]
	path = modules/cimgui
	url = https://github.com/cimgui/cimgui.git
	branch = 1.89.9dock
